@model KonstProjektetV2.Models.TableInsertModel

@{
    ViewBag.Title = "AddNew";
}

<h2>AddNew</h2>

@using (Html.BeginForm("AddNew", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(x => x.Author)
                @Html.TextBoxFor(x => x.Author)
                @Html.ValidationMessageFor(model => model.Author)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description)
                @Html.TextBoxFor(x => x.Description)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Type)
                @Html.TextBoxFor(x => x.Type)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Location)
                @Html.TextBoxFor(x => x.Location)
            </div>
            <div class="form-group">
            @Html.LabelFor(x => x.File)
            @Html.TextBoxFor(m => m.File, new
            {
                type = "file",
            })
            </div>

            <input type="submit" value="Lägg till" />
        </div>
    </div>
}