@model IEnumerable<KonstProjektetV2.Models.TableModel>

@{
    ViewBag.Title = "Gallery";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

@using (Html.BeginForm())
{
    string searchText = ViewBag.SearchWord;

    <br />
    <div class="row">
        <form class="col l12 col s12">
            <div class="row">
                <div class="input-field col l6 offset-l3 col s6 offset-s3" style="text-align: center;">
                    <input id="search" name="search" style="text-align: center;" placeholder="Sök här" type="text" class="validate">
                    
                </div>
                <div class="col l2 col s1" style="float: left;float: left; margin-bottom: 0;">
                    <br />
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons center">send</i>
                    </button>
                </div>
                

            </div>

        </form>
    </div>

    searchText = ViewBag.SearchWord;

    <div class="col-lg-6 center" style="text-align:center;">
        <a href="@Url.Action("AddNew", "Home", new { })" class="btn-success btn btn-labeled">
            Lägg till konstverk
        </a>
    </div>

    if (searchText != null && searchText != "")
    {
        <hr />
        <div class="container center" style="text-align: center;">
            <h4 class="center">
                Filter: @ViewBag.SearchWord
                <a href="@Url.Action("Gallery", "Home")"><i class="material-icons" style="color: red;">close</i></a>
            </h4>
        </div>
    }
}


@foreach (var tableModel in Model)
{
    {
        <div class="row">
            <div class="col l10 offset-l1 col s10 offset-s1 ContentBlock">
                <div class="col l4 col s12">
                    <img class="materialboxed" width="100%" style="margin: 2%;" src="http://t4boys2016.blob.core.windows.net/fouramigos/@tableModel.FileName">
                </div>
                <div class="col l5 col s10">
                    <p>
                        @Html.DisplayNameFor(x => x.Author) : @tableModel.Author <br />
                        @Html.DisplayNameFor(x => x.Title) : @tableModel.Title <br />
                        @Html.DisplayNameFor(x => x.Description) : @tableModel.Description <br />
                        @Html.DisplayNameFor(x => x.Type) : @tableModel.Type <br />
                        @Html.DisplayNameFor(x => x.Location) : @tableModel.Location
                    </p>
                </div>

                <div class="col l3 col s12">
                    <a href="@Url.Action("Edit", "Home", new { partitionKey = tableModel.PartitionKey, rowKey = tableModel.RowKey })" class="btn" style="float: right;">Redigera</a>
                    <br />
                    <a href="@Url.Action("Delete", "Home", new { partitionKey = tableModel.PartitionKey, rowKey = tableModel.RowKey })" class="btn" style="float: right;">Ta bort</a>
                </div>
            </div>
        </div>

    }
}
<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });</script>

@*<button class="btn-circle btn-success"><span class="glyphicon glyphicon-pencil"></span></button>
    <button class="btn-circle btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
    <button class="btn-success btn btn-labeled"><span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>REDIGERA</button>
    <button class="btn-danger btn btn-labeled"><span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>TA BORT</button>

    <button class="btn btn-test btn-success"><span class="pull-left btn-label-test glyphicon glyphicon-pencil"></span>redigera</button>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
</script>

<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });
</script>
