@model IEnumerable<KonstProjektetV2.Models.TableModel>

@{
    ViewBag.Title = "Gallery";
}

<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 style="color: #E88300;">Sök efter en tavla</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" style="text-align: center;" class="form-control input-lg" placeholder="Sök här..." />
                    <span class="input-group-btn">
                        <button id="button1" class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
    <p>
        @Html.ActionLink("lägg till", "AddNew", new { })
    </p>



    @foreach (var tableModel in Model)
            {
        <div class="row">
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-10 col-xs-10 ContentBlock">
                <div class="col-md-4 col-xs-4">
                    <img class="category-img" src="http://t4boys2016.blob.core.windows.net/fouramigos/@tableModel.FileName" />
                </div>
                <div class="col-md-6 col-xs-6">
                    <p>
                        @Html.DisplayNameFor(x => x.Author) : @tableModel.Author <br />
                        @Html.DisplayNameFor(x => x.Title) : @tableModel.Title <br />
                        @Html.DisplayNameFor(x => x.Description) : @tableModel.Description <br />
                        @Html.DisplayNameFor(x => x.Type) : @tableModel.Type <br />
                        @Html.DisplayNameFor(x => x.Location) : @tableModel.Location
                    </p>
                </div>
                <div class="col-md-2 col-xs-2">
                    @Html.ActionLink("Redigera", "Edit", new { partitionKey = tableModel.PartitionKey, rowKey = tableModel.RowKey })<br /><br />
                    @Html.ActionLink("Ta bort konstverk", "Delete", new { partitionKey = tableModel.PartitionKey, rowKey = tableModel.RowKey })
                </div>
            </div>
        </div>
    }

    <button class="btn-circle btn-success"><span class="glyphicon glyphicon-pencil"></span></button>
    <button class="btn-circle btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
    <button class="btn-success btn btn-labeled"><span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>REDIGERA</button>
    <button class="btn-danger btn btn-labeled"><span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>TA BORT</button>

    <button class="btn btn-test btn-success"><span class="pull-left btn-label-test glyphicon glyphicon-pencil"></span>redigera</button>
</div>

