@model IEnumerable<KonstProjektetV2.Models.TableModel>

@{
    ViewBag.Title = "Gallery";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

@using (Html.BeginForm())
{
    string searchText = ViewBag.SearchWord;

    <div class="row" style="text-align: center;">
        <form class="col l12 col s12">
            <div class="row">
                <div class="input-field col l6 offset-l3 col s6 offset-s3">
                    <input id="icon_prefix" name="search" style="text-align: center;" placeholder="Sök här" type="text" class="validate">
                </div>
            </div>
        </form>
    </div>

    searchText = ViewBag.SearchWord;

    <p> </p>
    <div class="col-lg-6 center" style="text-align:center;">
        <a href="@Url.Action("AddNew", "Home", new { })" class="btn-success btn btn-labeled">
            Lägg till konstverk
        </a>
    </div>

    <hr />

    if (searchText != null && searchText != "")
    {
        <div class="container center" style="text-align: center;">
            <h3 class="center">
                Filter: @ViewBag.SearchWord
                <a href="@Url.Action("Gallery", "Home")">
                    <span style="float: none;"><i class="glyphicon glyphicon-remove"></i></span>
                </a>
            </h3>
        </div>
    }
}


@foreach (var tableModel in Model)
{
    {
        <div class="row">
            <div class="col l10 offset-l1 col s10 offset-s1 ContentBlock">
                <div class="col l4 col s12">
                    <img class="materialboxed" width="100%" style="margin: 2%;" src="http://t4boys2016.blob.core.windows.net/fouramigos/@tableModel.FileName">
                </div>
                <div class="col l7 col s10">
                    <p>
                        @Html.DisplayNameFor(x => x.Author) : @tableModel.Author <br />
                        @Html.DisplayNameFor(x => x.Title) : @tableModel.Title <br />
                        @Html.DisplayNameFor(x => x.Description) : @tableModel.Description <br />
                        @Html.DisplayNameFor(x => x.Type) : @tableModel.Type <br />
                        @Html.DisplayNameFor(x => x.Location) : @tableModel.Location
                    </p>
                </div>

                <div class="col l1 col s2 ">


                    <a class="dropdown-button btn" href="#" style="float: right;" data-activates='dropdown1'><i class="material-icons">settings</i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li>
                            <a href="@Url.Action("Edit", "Home", new { partitionKey = tableModel.AuthorKey, rowKey = tableModel.TitleKey })">
                                Redigera
                            </a>
                        </li>
                        <li>
                            <a href="#ModalPopup" data-toggle="modal">
                                Ta bort
                                <span style="float: right;"><i class="glyphicon glyphicon-trash"></i></span>
                            </a>
                        </li>
                    </ul>
                    @*<div class="dropdown" style="float: right;">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                            </button>
                            <ul class="dropdown-menu" style="float: left;">
                                <li>
                                    Edit Button
                                    <a href="@Url.Action("Edit", "Home", new { partitionKey = tableModel.PartitionKey, rowKey = tableModel.RowKey })">
                                        Redigera
                                        <span style="float: right;"><i class="glyphicon glyphicon-pencil"></i></span>
                                    </a>
                                </li>
                                <li>
                                    Delete Button
                                    <a href="#ModalPopup" data-toggle="modal">
                                        Ta bort
                                        <span style="float: right;"><i class="glyphicon glyphicon-trash"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>*@
                </div>
            </div>

            <div id="ModalPopup" class="modal fade " role="dialog">
                <div class="modal-dialog modal-lg  modal-body">

                    <!-- Modal content-->
                    <div class="modal-content modal-body">
                        <button type="button" class="close " data-dismiss="modal">&times;</button>
                        <h4 class="modal-title modalText-modal">Är du säker på att du vill ta bort detta konstverk?</h4>
                        <hr />
                        <div class="row" style="text-align: center;">
                            <a href="@Url.Action("Delete", "Home", new { partitionKey = tableModel.PartitionKey, rowKey = tableModel.RowKey })" class="promtBtn-modal btn-labeled btn promtBtnStyle-modal">
                                Ja

                            </a>

                            <a href="" data-dismiss="modal" class="promtBtn-modal btn-labeled btn promtBtnStyle-modal">
                                Avbryt

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
}

@*<button class="btn-circle btn-success"><span class="glyphicon glyphicon-pencil"></span></button>
    <button class="btn-circle btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
    <button class="btn-success btn btn-labeled"><span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>REDIGERA</button>
    <button class="btn-danger btn btn-labeled"><span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>TA BORT</button>

    <button class="btn btn-test btn-success"><span class="pull-left btn-label-test glyphicon glyphicon-pencil"></span>redigera</button>*@

<script>
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
</script>

