@model IEnumerable<KonstProjektetV2.Models.TableModel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <p>
        @Html.ActionLink("lägg till", "AddNew", new { })
    </p>
    
    @foreach (var tableModel in Model)
    {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 ContentBlock">
                <div class="col-md-4">
                    <img class="category-img" src="http://t4boys2016.blob.core.windows.net/fouramigos/@tableModel.FileName" />
                </div>
                <div class="col-md-6">
                    <p>
                        @Html.DisplayNameFor(x => x.Author) : @tableModel.Author <br />
                        @Html.DisplayNameFor(x => x.Title) : @tableModel.Title <br />
                        @Html.DisplayNameFor(x => x.Description) : @tableModel.Description <br />
                        @Html.DisplayNameFor(x => x.Type) : @tableModel.Type <br />
                        @Html.DisplayNameFor(x => x.Location) : @tableModel.Location
                    </p>
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Till konstverket", "Table", new { partitionKey = tableModel.PartitionKey, rowKey = tableModel.RowKey })<br /><br />
                    @Html.ActionLink("Redigera", "Edit", new { partitionKey = tableModel.PartitionKey, rowKey = tableModel.RowKey })<br /><br />
                    @Html.ActionLink("Ta bort konstverk", "Delete", new { partitionKey = tableModel.PartitionKey, rowKey = tableModel.RowKey })
                </div>
            </div>
        </div>
    }

    <button class="btn-circle btn-success"><span class="glyphicon glyphicon-pencil"></span></button>
    <button class="btn-circle btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
    <button class="btn-success btn btn-labeled"><span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>REDIGERA</button>
    <button class="btn-danger btn btn-labeled"><span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>TA BORT</button>

    <button class="btn btn-test btn-success"><span class="pull-left btn-label-test glyphicon glyphicon-pencil"></span>redigera</button>
</div>